<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092178133208-fuk0gsg91qeav4640uoc3kivlptbcn6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092178133208-fuk0gsg91qeav4640uoc3kivlptbcn6m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1092178133208-1p0utmsd7qtq6tg7oppokprkd7cqa9fv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaDut4yNGy_juGRXdBlRn9Hnp7SN8XvNo</string>
	<key>GCM_SENDER_ID</key>
	<string>1092178133208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.graduationlion</string>
	<key>PROJECT_ID</key>
	<string>draduationlion</string>
	<key>STORAGE_BUCKET</key>
	<string>draduationlion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092178133208:ios:c0bcb5e7529c49299597ad</string>
</dict>
</plist>